<footer class="main_footer bg_dark">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				&copy; 2016 Ярошенко Галина
				<div class="social_wrap">
					<ul>
						<li><a href="#" target="_blank"><span class="icon-facebook2"></span></a></li>
						<li><a href="#" target="_blank"><span class="icon-twitter"></span></a></li>
						<li><a href="#" target="_blank"><span class="icon-vk"></span></i></a></li>
						<li><a href="#" target="_blank"><span class="icon-instagram"></span></a></li>
						<!-- <li><a href="#" target="_blank"></i><span class="icon-youtube2"></span></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
