<script>
$(document).ready(function() {
$(".language li").click(function() {
  $(".language li").removeClass("active");
  $(this).addClass("active");
});
  });
</script>
<header class="main_head main_color_bg" parallax-background parallax-ratio="0.4" parallaxVerticalOffset="10" parallaxHorizontalOffset="10">
    <div class="row">
      <div class="col-md-12">
      <ul class="language">
        <li class="active">UK</li>
        <li class="s">USA</li>
      </ul>
      <button class="toggle_mnu" toggle-menu>

        <span class="sandwich">
          <span class="sw-topper"></span>
          <span class="sw-bottom"></span>
          <span class="sw-footer"></span>
        </span>
      </button>
      <nav class="top_mnu">
        <ul>
          <li><a href="#about">Про нас</a></li>
          <li><a ui-sref="base.portfolio">Порфоліо</a></li>
          <li><a ui-sref="base.video">Відео</a></li>
          <li><a ui-sref="base.songs">Пісні</a></li>
          <li><a href="#people">Люд які доклали зусилля</a></li>
          <li><a ui-sref="base.contact">Контакти</a></li>
          <li><a ui-sref="base.news">Новини</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</header>
