<section id="about" class="s_about bg_light" header-animate left-right-animate animate>
	<div class="section_header">
		<h2>Про нас</h2>
		<div class="s_descr_wrap">
			<div class="s_descr">Познайомимося ближче</div>
		</div>
	</div>
	<div class="section_content"  header-animate popup >
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-push-4 animation_1">
					<h3>Фото</h3>
					<div class="person">
						<a href='{{aboutUsList[0].foto.url}}' class="popup"><img ng-src="{{aboutUsList[0].foto.url}}" alt="Alt" /></a>
					</div>
          <div class="social_wrap">
						<ul>
							<li><a href="#" target="_blank"><span class="icon-facebook2"></span></a></li>
							<li><a href="#" target="_blank"><span class="icon-twitter"></span></a></li>
							<li><a href="#" target="_blank"><span class="icon-vk"></span></i></a></li>
							<li><a href="#" target="_blank"><span class="icon-instagram"></span></a></li>
							<!-- <li><a href="#" target="_blank"></i><span class="icon-youtube2"></span></a></li> -->
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-md-pull-4 animation_2">
					<h3>{{aboutUsList[0].title1}}</h3>
          <h2 class="personal_header">{{aboutUsList[0].name}}</h2>
					<p>{{aboutUsList[0].description1}}</p>
					<div class="description"><a ui-sref="base.more({id:aboutUsList[0].objectId})">Читати більше...</a></div>
        </div>
				<div class="col-md-4 animation_3 personal_last_block">
					<h3>{{aboutUsList[1].title1}}</h3>
					<h2 class="personal_header">{{aboutUsList[1].name}}</h2>
					<ul>
						<li>{{aboutUsList[1].description1}}</li>
					</ul>
          <div class="description"><a ui-sref="base.more({id:aboutUsList[1].objectId})">Читати більше...</a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="s_portfolio bg_dark"  header-animate>
	<div class="section_header">
		<h2>Портфоліо</h2>
		<div class="s_descr_wrap">
			<div class="s_descr">Наші останні поїздки</div>
		</div>
	</div>
	<div class="section_content">
		<div class="container">
			<div class="row">
				<div class="filter_div controls">
					<ul>
						<li class="asd" data-filter="all">Всі останні поїздки </li>
						<li ng-repeat="categorys in category" class="filter" data-filter=".{{categorys.objectId}}">{{categorys.name}}</li>
					</ul>
				</div>
				<div id="portfolio_grid">
					<div ng-repeat="portfolioUsLists in portfolioUsList" pop class="mix col-md-3 col-sm-6 col-xs-12 portfolio_item {{portfolioUsLists.category.objectId}}">
						<img src="{{portfolioUsLists.img.url}}" alt="Alt" />
						<div class="port_item_cont"  >
							<h3>{{portfolioUsLists.country}}</h3>
							<p>{{portfolioUsLists.city}}</p>
							<a href="#" class="popup_content">Подивитися</a>
						</div>
						<div class="hidden">
							<div class="podrt_descr">
								<div class="modal-box-content">
									<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
									<h3>{{portfolioUsLists.country}} {{portfolioUsLists.city}}</h3>
									<p>{{portfolioUsLists.description}}</p>
									<img src="{{portfolioUsLists.img.url}}" alt="Alt" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



	<section id="people" class="homesect s_gray section_7"  header-animate>
    <div class="section_header">
  		<h2>Люди які доклали зусилля</h2>
  		<div class="s_descr_wrap">
  			<div class="s_descr">Познайомимося ближче</div>
  		</div>
  	</div>
		<div class="section-pb">

			<div class="slider">

			  <div class="slide">

			    <div class="container">
			      <div class="row">
							<div id="owl-demo" class="owl-carousel owl-theme">
							</div>
			</div>
			</div>
			</div>
			</div>
			</div>


		</div>
	</section>


<section id="contacts" class="s_contacts bg_light" header-animate>
	<div class="section_header">
		<h2>Контакти</h2>
		<div class="s_descr_wrap">
			<div class="s_descr">Залиште ваше повідомлення</div>
		</div>
	</div>
	<div class="section_content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="contact_box">
						<div class="contacts_icon icon-basic-geolocalize-05"><span class="icon-home"></span></div>
						<h3>Адреса:</h3>
						<p>{{contactList[0].street}}</p>
					</div>
					<div class="contact_box">
						<div class="contacts_icon icon-basic-smartphone"><span class="icon-phone"></span></div>
						<h3>Телефон:</h3>
						<p>{{contactList[0].headTelephone}}</p>
					</div>
					<div class="contact_box">
						<div class="contacts_icon icon-basic-webpage-img-txt"><span class="icon-cloud"></span></div>
						<h3>Веб-сайт:</h3>
						<p><a href="#" target="_blank">{{contactList[0].headEmail}}</a></p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<form action="http://formspree.io/agragregra@ya.ru" class="main_form" novalidate target="_blank" method="post">
						<label class="form-group">
							<span class="color_element">*</span> Ваше імя:
							<input type="text" name="name" placeholder="Ваше імя" data-validation-required-message="Вы не ввели имя" required />
							<span class="help-block text-danger"></span>
						</label>
						<label class="form-group">
							<span class="color_element">*</span> Ваш E-mail:
							<input type="email" name="email" placeholder="Ваш E-mail" data-validation-required-message="Не корректно введен E-mail" required />
							<span class="help-block text-danger"></span>
						</label>
						<label class="form-group">
							<span class="color_element">*</span> Ваше повідомлення:
							<textarea name="message" placeholder="Ваше повідомлення" data-validation-required-message="Вы не ввели сообщение" required></textarea>
							<span class="help-block text-danger"></span>
						</label>
						<button>Відправити</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
