<header class="ae-container-fluid ae-container-fluid--full rk-header ">
<div class="center-inside-content">
          <div class="center-base-block">

            <div class="mix-photo">
                <h1><span>Пісні та музика у виконанні Черемоша</span></h1>

                <div ng-repeat="mixMusic in mixList">
                  {{mixMusic.objectId}}
                <a ui-sref="base.musicView({id:mixMusic.objectId})" ng-class="$odd ? 'medium' : 'small'" class="polaroid img{{$index}}">{{$index}}
                  <img ng-src="{{mixMusic.img.url}}" alt="">
                  <span class="mix-name">{{mixMusic.title}}</span>
                  <span class="mix-auth">{{mixMusic.description}}</span>
                  <span class="mix-add">Add</span>
                </a>
              </div>
                <!-- <a href="" class="small mixClass img2" ><img src="img/music/cafe loung.jpg" alt=""><span class="mix-name">The hot</span> <span class="mix-auth">by Filtr</span><span class="mix-add">Add</span></a>
                <a href="" class="small polaroid img3" ><img src="img/music/folk.jpg" alt=""><span class="mix-name">The hot</span> <span class="mix-auth">by Filtr</span><span class="mix-add">Add</span></a>
                <a href="" class="large polaroid img4" ><img src="img/music/French music.jpg" alt=""><span class="mix-name">The hot</span> <span class="mix-auth">by Filtr</span><span class="mix-add">Add</span></a>
                <a href="" class="small  polaroid img5" ><img src="img/music/hip hop.jpg" alt=""><span class="mix-name">The hot</span> <span class="mix-auth">by Filtr</span><span class="mix-add">Add</span></a>
                <a href="" class="medium polaroid img6" ><img src="img/music/hits.jpg" alt=""><span class="mix-name">The hot</span> <span class="mix-auth">by Filtr</span><span class="mix-add">Add</span></a>
                <a href="" class="medium polaroid img7" ><img src="img/music/party.jpg" alt=""><span class="mix-name">The hot</span> <span class="mix-auth">by Filtr</span><span class="mix-add">Add</span></a>
                <a href="" class="medium polaroid img8" ><img src="img/music/pop rock.jpg" alt=""><span class="mix-name">The hot</span> <span class="mix-auth">by Filtr</span><span class="mix-add">Add</span></a> -->
            </div>


        </div>
      </div>
</header>
