<div class="loading" ng-show="load"><img src="../img/preloader.gif" /></div>
<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo"><a href="index.html">{{list[0].s1_portfolio}}<sup>cheremosh</sup></a></h1>
    </div>
    <!-- <div>
      <h1 class="rk-logo"><a href="index.html">{{list[0].s1_portfolio}}<sup>cheremosh</sup></a></h1>
    </div> -->

  </header>
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio rk-main">


    <div class="container">
    <!-- <h1 class="align-center">Simple Lightbox Demo Page</h1> class="big" ui-sref="base.portfolioAlt({id:sortPortfolio.category.objectId, anotherParam:sortPortfolio.year.objectId, anotherId:sortPortfolio.objectId})"-->
    <div class="gallery">


      <!-- <a ng-repeat="portfolioSort in images" ui-sref="base.portfolioAlt({id:portfolioSort.category.objectId, anotherParam:portfolioSort.year.objectId, anotherId:portfolioSort.objectId})"  class="rk-item ae-masonry__item">
        <img src="{{portfolioSort.img}}" alt="">
        <div class="item-meta">
          <h2>{{portfolioSort.title}}</h2>
          <p>{{portfolioSort.languageCity}}</p>


        </div>
      </a> -->

      <ng-gallery images="images">
    </ng-gallery>


    </div>
    </div>



          <!-- <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
            <a ng-repeat="portfolioSort in sortPortfolio" ui-sref="base.portfolioAlt({id:portfolioSort.category.objectId, anotherParam:portfolioSort.year.objectId, anotherId:portfolioSort.objectId})"  class="rk-item ae-masonry__item">
              <img src="{{portfolioSort.img.url}}" alt="">
              <div class="item-meta">
                <h2>{{portfolioSort.languageCountry}}</h2>
                <p>{{portfolioSort.languageCity}}</p>
                <!-- <h2>{{portfolioSort.year1}}</h2> -->

              <!-- </div>
            </a>
          </div> -->
        </section>
      </section>
