<div class="grid_4">
		<div class="container">
			<h1 class="blog_head">{{viewAboutUs.title1}}</h1>
		    <div class="blog_grid">
		      <div class="blog_box">
		        <a ui-sref="base.contactDescription" class="mask"><img ng-src="{{viewAboutUs.foto.url}}" alt="image" class="img-responsive zoom-img" alt=""/></a>
		     	<h3><a ui-sref="base.contactDescription" style="display:block; padding-top:33px; padding-bottom: 8px;">{{viewAboutUs.name}}</a></h3>
		     	<p>{{viewAboutUs.description1}}</p>
		     </div>
		    </div>
