<div class="loading" ng-show="load"><img src="{{list[0].loader.url}}" /></div>
<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <div class="container center-inside-content">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="al-name-select">{{list[0].song_about_setstion}}<span>:</span></div>
              <div class="al-line"></div>
            </div>
          </div>
          <div class="al-wrapper-albums">
          <div class="row padding-video">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" ng-repeat="song in songs">
              <div class="al-some-albums">
                <a ui-sref="base.viewAlbums({id:albums._id})"> <img class="al-img" src="{{song.img}}"></a>
                <h5 class="al-name-albums" music-player="play" add-song="song">{{song.title}}</h5>
                <p class="al-some-text">{{song.description}}</p>
                <button class="al-btn-add button_song" music-player="play" add-song="song">{{list[0].Listen}}</button>
                <button class="al-btn-add-add" music-player add-song="song">+</button>
              </div>
            </div>
          </div>
        </div>
                <div class="container inner-palay ">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wrapper-button">
                      <sound-manager></sound-manager>
                      	<button prev-track><span class="icon-previous2"></span></button>
                        <button pause-music><span class="icon-pause2"></span></button>
                        <button play-music><span class="icon-play3"></span></button>
                        <button next-track><span class="icon-next2"></span></button>
                        <button repeat-music><span class="icon-loop2"></span></button>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 wrap-pad">
                      <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9">
                          <div class="seekBase" seek-track>
                              <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                          <div class="num-right num-hide">{{ currentPostion }} / {{ currentDuration }}</div>
                          <div class="but-right">
                            <button music-volume data-type="increase"><span class="icon-volume-increase "></span></button>
                            <button music-volume data-type="decrease"><span class="icon-volume-decrease "></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 xs-hidden">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                          <img src="http://cheremosh.lviv.ua/test/img/img/cheremosh-2.jpg" class="img-play"/>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  wrap-title">
                          <div class="title-music">{{list[0].Expression}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container inner-palay ">
                  <div class="row">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                          <p class="h5">{{list[0].playlist}}</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <button play-all="songs"  class="h5" data-play="false">{{list[0].add_all}}</button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                          <button play-all="songs"  class="h5">{{list[0].play_all}}</button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                          <button clear-playlist  class="h5">{{list[0].clear_playlist}}</button>
                        </div>
                      </div>
                    </div>
                    <ol class="view-ol">
                        <li ng-repeat="song in playlist">
                            <a play-from-playlist="song">{{ song.title }}</a>
                            -
                            <a remove-from-playlist="song" data-index="{{$index}}">
                                <small>({{list[0].remove}})</small>
                            </a>
                            <span ng-if="currentPlaying.id == song.id"> - ({{list[0].current}})</span>
                        </li>
                    </ol>
              </div>
            </div>
      </div>
<header>
