<div class="grid_4">
		<div class="container">
			<h1 class="blog_head">Music</h1>
		    <div class="blog_grid">
		      <div class="blog_box">
		        <img src="{{viewMusic.img.url}}" alt="image" class="img-responsive zoom-img" alt=""/>
		     	<h3><a ui-sref="base.contactDescription">{{viewMusic.title}}</a></h3>
		     	<p>{{viewMusic.description}}</p>

								{{songs}}
					         <div class="row">
					            <div class="col-md-12">

					                <h5>Songs</h5>


					                        <button music-player="play" add-song="song">{{ song.title }}</button>
					                        <button music-player add-song="song">+</button>


					                <button play-all="song">Play all</button>
					                <button play-all="song" data-play="false">Add all</button>

					            </div>
					        </div>

					        <hr />

					        <div class="row">
					            <div class="col-md-12">

					                <sound-manager></sound-manager>

					                <p>
					                    Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
					                </p>

					                <div class="seekBase" seek-track>
					                    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
					                </div>
					                <br />
					                <button play-music>Play</button>
					                -
					                <button pause-music>Pause</button>
					                -
					                <button stop-music>Stop</button>
					                -
					                <button repeat-music>Repeat ({{ repeat }})</button>
					                -
					                <button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button>

					                Is Playing: {{ isPlaying }}
					                <br/>
					                <br/>Volume: {{ volume }} -
					                <button music-volume data-type="increase">+</button>
					                -
					                <button music-volume data-type="decrease">-</button>
					                -
					                <button mute-music>Mute ({{ mute }})</button>
					                <br/>
					                <br/>
					                <button prev-track>Prev Track</button>
					                -
					                <button next-track>Next Track</button>
					                -
					                <button clear-playlist>Clear Playlist</button>
					                <br/>
					                <br/>
					                <h5>Playlist</h5>
					              
					            </div>
					        </div>

											<div class="container fill inner-palay">
												<div class="row">
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 wrapper-button">
														<!-- <div class="wrapper-button"> -->
															<button play-music><span class="icon-play3"></span></button>
															<button pause-music><span class="icon-pause2"></span></button>
															<button stop-music><span class="icon-stop2"></span></button>
															<button repeat-music><span class="icon-loop2"></span></button>
														<!-- </div> -->
													</div>
													<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 wrap-pad">
														<div class="row">
															<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
																<div class="seekBase" seek-track>
								                    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
								                </div>
															</div>
															<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
																<button music-volume data-type="increase"><span class="icon-volume-increase "></span></button>
								                <button music-volume data-type="decrease"><span class="icon-volume-decrease "></span></button>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
														<div class="row">
															<div class="col-md-3">
																<img src="img/photo.jpg" class="img-play"/>
															</div>
															<div class="col-md-7 wrap-title">
																<div class="title">Грає ваш </div>
																<div class="title-music">gththtyhtyh</div>
															</div>
														</div>
													</div>
												</div>
											</div>


		     </div>
		    </div>
			</div>
			</div>
